<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="main.css">

	<!-- favicon -->
  <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/ >

	<title>PulseCheckPolling</title>
</head>
<body>
	{{> header}}
	<div class="container-fluid">		
		<div class="row" id="admin-profile">
			<!-- Admin Profile Info -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="box">
					<div class="scroll">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
								<img src="{{user.avatar}}" class="img-responsive avatar">
							</div>
						</div>
						<h2 class="text-center">{{user.name}}</h2>
						<h4>username:</h4>
						<h4 class="tab green">{{user.username}}</h4>
						<h4>admin:</h4>
						<h4 class="tab green">{{#if user.admin}}yes{{else}}no{{/if}}</h4>
						<h4>password:</h4>
						<button class="btn btn-success btn-sm" id="change-password">change password</button>
						<form id="newpassword-form">
							<div class="form-group">	
								<input type="password" id="new-password" name="newpassword" placeholder="New password" class="form-control">
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-success" value="Submit">
							</div>
						</form>
						<h4>click on picture to change</h4>
						<button class="btn btn-success btn-block" id="directions-btn">Directions</button>
						<button class="btn btn-success btn-block" id="add-question-btn">Add New Question</button>
						<button class="btn btn-success btn-block" id="view-questions-btn">View Questions</button>
						<button class="btn btn-success btn-block" id="display-questions-btn">Display Questions</button>
						<button class="btn btn-success btn-block" id="user-btn">User Results</button>
						<button class="btn btn-success btn-block" id="question-btn">Question Results</button>
					</div>
				</div>
			</div>
			<!-- [Directions] -->
			<div class="col-md-9 col-sm-6 col-xs-12" id="directions">
				<div class="box">
					<div class="scroll">
						<h2 class="text-center">Welcome to PulseCheck, {{user.name}}!</h2>
						<hr>
						<h2>Directions</h2>
						<h3>To get started:</h3>
						<ol>
							<h4><li>Have users sign up and enter a password.</li></h4>
							<h4><li>Enter questions into the database.</li></h4>
							<h4><li>Select the questions you would like users to answer.</li></h4>
							<h4><li>Display the questions (optional).</li></h4>
							<h4><li>Poll your students and view the results.</li></h4>
						</ol>
						<h3>To add questions:</h3>
						<ol>
							<h4><li>Click the <span class="green">[Add Question]</span> button to open the form.</li></h4>
							<h4><li>Fill out the form.</li></h4>
							<h4><li>The label section does not get displayed with the question, but is used to keep track of questions in the database.  Name your questions wisely.</li></h4>
							<h4><li>Enter the question, answer, and incorrect answer choices.</li></h4>
							<h4><li>Press the <span class="green">[Preview]</span> button to see how the question will appear to users.</li></h4>
							<h4><li>Press the <span class="green">[Submit]</span> button to enter the question into the database.</li></h4>
						</ol>
						<h3>To view questions and make them available to users:</h3>
						<ol>
							<h4><li>Click the <span class="green">[View Questions]</span> button to open a list of all available questions.</li></h4>
							<h4><li>Click the button for each question to review it and make sure you would like to use it.</li></h4>
							<h4><li>The button should change to green.  If you would like to deselect the question, click on it again and it will change back to yellow.</li></h4>
							<h4><li>Once you have selected all of the questions you would like to use, click on the <span class="green">[Display Questions]</span> button under the Admin Profile.</li></h4>
							<h4><li>After each question, click the <span class="green">[Calculate Results]</span> button to display a pie chart with the results.</li></h4>
							<h4><li>Click the <span class="green">[Next Question]</span> button to move on.</li></h4>
							<h4><li>When you are finished, use the navigation bar to go back to your profile or the admin profile.</li></h4>
						</ol>
						<h3>To view results by user:</h3>
						<ol>
							<h4><li>Click the <span class="green">[User Results]</span> button to review the results by user.</li></h4>
							<h4><li>Choose a user from the list to see their answers to each question.</li></h4>
							<h4><li>From the user results, you can also <span class="green">[Delete User]</span>.</li></h4>							
						</ol>
						<h3>To view results by question:</h3>
						<ol>
							<h4><li>Click the <span class="green">[Question Results]</span> button to review the breakdown of each question.</li></h4>
							<h4><li>Choose a question to see which users answered correctly or incorrectly.</li></h4>
							<h4><li>There is a breakdown of results including a pie chart in this view as well.</li></h4>
							<h4><li>From the question results, you can also <span class="green">[Delete Question]</span>.</li></h4>							
						</ol>
						<h3>To delete a user or a question:</h3>
						<ul>
							<h4><li>Please see above under view results for question or user.</li></h4>
							<h4><li>It is not possible to edit questions or users at this time.</li></h4>
						</ul>
					</div>						
				</div>
			</div>
			<!-- Form to [Add New Question] -->
			<div class="col-md-3 col-sm-6 col-xs-12 add-question" id="add-question-form">
				<div class="box">
					<div class="scroll">
						<h3>Fill in the following form. Click <span class="green">[Preview]</span> to preview the question.  Then <span class="green">[Submit]</span> to add the question.</h1>
						<hr>
						<form role="form" class="check-validation" id="submit-question-btn">
						  <div class="form-group">
						    <label for="label">Label:</label>
						    <input type="text" class="form-control" name="label" id="label" required>
						  </div>
						  <div class="form-group">
						    <label for="question">Question:</label>
						    <input type="text" class="form-control" name="text" id="text" required>
						  </div>
						  <div class="form-group">
						    <label for="correctanswer">Correct Answer:</label>
						    <input type="text" class="form-control" name="correctanswer" id="correctanswer" required>
						  </div>
						  <div class="form-group">
						    <label for="answers0">Answer Choices:</label>
						    <input type="text" class="form-control" name="answers0" id="answers0" required>
						  </div>
						  <div class="form-group">
						    <input type="text" class="form-control" name="answers1" id="answers1" required>
						  </div>
						  <div class="form-group">
						    <input type="text" class="form-control" name="answers2" id="answers2" required>
						  </div>
						  <button class="btn btn-success" id="preview-question-btn">Preview</button>
						  <input type="submit" class="btn btn-success" value="Submit"><!-- Submit</button> -->
						</form>
					</div>
				</div>
			</div>
			<!-- Preview for [Add New Question] -->
			<div class="col-md-4 col-md-offset-1 col-sm-6 col-sm-offset-3 col-xs-12 add-question" id="add-question-preview">
				<div class="center-box-4">
					<h2 class="question">Question</h2>
					<hr>
					<button class="btn btn-success btn-block answer-a">Answer A</button>
					<button class="btn btn-success btn-block answer-b">Answer B</button>
					<button class="btn btn-success btn-block answer-c">Answer C</button>
					<button class="btn btn-success btn-block answer-d">Answer D</button>
				</div>
			</div>
			<!-- List of questions to display from [View Questions] -->
			<div class="col-md-3 col-sm-6 col-xs-12 add-question-list" id="scroll-to-list">
				<div class="box">
					<div class="scroll">
						<h2 class="text-center"><strong>Questions</strong></h2>
						<h4>Click questions once to select.  Click again to deselect.  When you are ready to show your questions, click <span class="green">[Display Questions]</span> to the left.</h4>
						<div id="add-question-list-results"></div>
						<script type="text/x-handlebars-template" id="add-question-list-template">
							\{{#each questions}}
								<button class="btn btn-success btn-block \{{#unless this.show}}question-tab\{{/unless}} click-to-select" data-id="\{{this._id}}">\{{this.label}}</button>
							\{{/each}}
						</script>
					</div>
				</div>
			</div>
			<!-- Preview questions from [View Questions] -->
			<div class="col-md-4 col-md-offset-1 col-sm-12 col-xs-12 add-question-list">
				<div class="center-box">
					<h2 class="question">Question</h2>
					<hr>
					<button class="btn btn-success btn-block answer-a">Answer A</button>
					<button class="btn btn-success btn-block answer-b">Answer B</button>
					<button class="btn btn-success btn-block answer-c">Answer C</button>
					<button class="btn btn-success btn-block answer-d">Answer D</button>
				</div>
			</div>
			<!-- [User Results] Pane -->
			<div class="col-md-3 col-sm-6 col-xs-12 user-list" id="scroll-to-user-list">
				<div class="box">
					<div class="scroll">
						<h2 class="text-center"><strong>Users</strong></h2>
						<div id="user-list-results"></div>
						<script type="text/x-handlebars-template" id="user-list-template">
							\{{#each users}}
								<button class="btn btn-success btn-block user-tab" data-id="\{{this._id}}">\{{this.name}}</button>
							\{{/each}}
						</script>
					</div>
				</div>
			</div>
			<!-- Individual results of [User Results] -->
			<div class="col-md-6 col-sm-12 col-xs-12 user-list" id="scroll-to-user-results">
				<div class="box">
					<div class="scroll">
						<div id="user-individual-results">
							<h2><strong>Directions</strong></h2>
							<h3>Click on a user.  The results for that user will be displayed in this box.  It will include the user's answers to each question as well as general information about those questions.</h3>
						</div>
						<script type="text/x-handlebars-template" id="user-results-template">
							<div class="row">
								<div class="col-sm-8">
									<h2><strong>\{{username}}</strong></h2>
									<hr>
									<h3><strong>Question Breakdown:</strong></h3>
									<canvas id="user-results-pie-chart" width="200" height="200"></canvas>
								</div>
								<div class="col-sm-4">
									<button class="btn btn-danger btn-block delete" data-id="\{{userid}}">Delete User</button>
									<button class="btn btn-danger btn-block user-tab" data-id="\{{userid}}">Reset Password</button>
									<div class="password-confirm">
										<p>This will reset the password to "password"  Are you sure you want to continue?</p>
										<button class="btn btn-danger user-tab password-reset" id="yes">Yes</button>
										<button class="btn btn-danger user-tab password-reset" id="no">No</button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<table class="table table-responsive table-hover">
									  <tr>
									    <td><strong>Question</strong></td>
									    <td><strong>Answer</strong></td> 
									    <td><strong>Correct Answer</strong></td>
									  </tr>
									  \{{#each questions}}
										  <tr class="\{{#if correct}}correct\{{else}}incorrect\{{/if}}">
										    <td>\{{question}}</td>
										    <td>\{{useranswer}}</td> 
										    <td>\{{correctanswer}}</td>
										  </tr>
									  \{{/each}}
									</table>
								</div>
							</div>
						</script>
					</div>
				</div>
			</div>
			<!-- [Question Results] Pane -->
			<div class="col-md-3 col-sm-6 col-xs-12 question-list" id="scroll-to-question-list">
				<div class="box">
					<div class="scroll">
						<h2 class="text-center"><strong>Questions</strong></h2>
						<div id="question-list-results"></div>
						<script type="text/x-handlebars-template" id="question-list-template">
							\{{#each questions}}
								<button class="btn btn-success btn-block question-tab" data-id="\{{this._id}}">\{{this.label}}</button>
							\{{/each}}
						</script>
					</div>
				</div>
			</div>
			<!-- Individual questions from [Question Results] -->
			<div class="col-md-6 col-sm-12 col-xs-12 question-list" id="scroll-to-question-results">
				<div class="box">
					<div class="scroll">
						<div id="question-individual-results">
							<h2><strong>Directions</strong></h2>
							<h3>Click on a question.  The results for that question will be displayed in this box.  It will include which users have answered correctly, which users have answered each of the incorrect answers, and a display of the breakdown for the question.</h3>
						</div>
						<script type="text/x-handlebars-template" id="question-results-template">
							<div class="row">
								<div class="col-sm-8">
									<h2><strong>\{{label}}</strong></h2>
								</div>
								<div class="col-sm-4">
									<button class="btn btn-danger btn-block delete" data-id="\{{this._id}}">Delete Question</button>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<h3><strong>Question:</strong>  \{{text}}</h3>
									<h4><strong>Answer Choices:</strong></h4>
									<ul>
									\{{#each answers}}
										<h4><li>\{{this}}</li></h4>
									\{{/each}}
									</ul>
									<h4><strong>Correct Answer:</strong>  \{{correctanswer}}</h4>
									<hr>
									<h3><strong>Results by Answer:</h3>
									<br>
								</div>
								<div class="col-sm-6" id="question-results-pie-chart-canvas">
									<h3><strong>Answers Breakdown:</strong></h3>
									<br>
									<canvas id="question-results-pie-chart" width="200" height="200"></canvas>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<table class="table table-responsive table-hover">
									  <tr>
										\{{#each displayAnswers}}
											<td>
											<h4><strong>\{{answer}}:</strong></h4>
											<ul>
												\{{#each users}}
													<h5><li>\{{this}}</li></h5>
												\{{/each}}
											</ul>
											</td>
										\{{/each}}
										</tr>
									</table>
								</div>
							</div>
						</script>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="breakdown">
			<!-- [Display Questions] -->
			<div class="col-md-5 col-md-offset-1 breakdown">
				<div class="center-box-2" id="question-box">
					<h2 class="question display-font">Question</h2>
					<hr>
					<button class="btn btn-success btn-block display-font answer-a">Answer A</button>
					<button class="btn btn-success btn-block display-font answer-b">Answer B</button>
					<button class="btn btn-success btn-block display-font answer-c">Answer C</button>
					<button class="btn btn-success btn-block display-font answer-d">Answer D</button>
				</div> 
			</div>
			<!-- Pie Chart Breakdown in [Display Questions] -->
			<div class="col-md-4 col-md-offset-1 breakdown">
				<div class="center-box-3 display-font" id="pie-chart-canvas">
					<h2 class="text-center display-font">Class Breakdown</h2>
					<hr>
					<canvas id="display-questions-pie-chart" width="400" height="400"></canvas>
					<h3 class="calculate-results-toggle">Click the button below to see the results.</h3>
					<hr>
					<button class="btn btn-success btn-block calculate-results-toggle" id="calculate-results">Calculate Results</button>
					<button class="btn btn-success btn-block" id="next-question">Next Question</button>
				</div>
			</div>
		</div>
	</div>

	<!-- chartjs -->
	<script type="text/javascript" src="scripts/Chart.js"></script>

	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- scrollto script -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>

	<!-- bootstrapjs -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- jquery validate -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>

	<!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <!-- custom scripts -->
  <script type="text/javascript" src="scripts/validations.js"></script>	
  <script type="text/javascript" src="scripts/admin.js"></script>
</body>
</html>