<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="main.css">

	<title>PulseCheck</title>
</head>
<body>
	{{> header}}
	<div class="container-fluid">		
		<div class="row" id="user-profile">
			<div class="col-md-3 col-sm-6 col-xs-12 user-profile"> <!-- User Profile -->
				<div class="box">
					<div class="scroll">
						<div class="row">
							<div class="  ">
								<img src="{{user.avatar}}" class="img-responsive avatar">
							</div>
						</div>
						<hr>
						<h2 class="text-center">{{user.name}}</h2>
						<h4>username:</h4>
						<h4 class="tab">{{user.username}}</h4>
						<h4>password:</h4>
						<h4 class="tab">{{user.password}}</h4>
						<hr>
						<button class="btn btn-success btn-block" id="user-view-results-btn">View Results</button>
						<button class="btn btn-success btn-block" id="user-answer-questions-btn">Answer Questions</button>
						<button class="btn btn-success btn-block" id="user-goto-questions-btn">Go To Questions</button>
						<br>
						<br>
					</div>
				</div> <!-- User Info -->
			</div>
			<div class="col-md-9 col-sm-6 col-xs-12 user-profile" id="directions">
				<div class="box">
					<div class="scroll">
						<h2>Directions</h2>
						<h3>To get started:</h3>
						<ol>
							<h4><li>Have users sign up and enter a password.</li></h4>
							<h4><li>Enter a question into the database.</li></h4>
							<h4><li>Select the questions you would like to display.</li></h4>
							<h4><li>Poll your students and view the results.</li></h4>
						</ol>
						<h3>To add questions:</h3>
						<ol>
							<h4><li>Click the [Add Question] button to open the form.</li></h4>
							<h4><li>Fill out the form.</li></h4>
							<h4><li>The label section does not get displayed with the question, but is used to keep track of questions in the database.  Name your questions wisely.</li></h4>
							<h4><li>Enter the question, answer, and incorrect answer choices.</li></h4>
							<h4><li>Press the [Preview] button to see how the question will appear to users.</li></h4>
							<h4><li>Press the [Submit] button to enter the question into the database.</li></h4>
						</ol>
						<h3>To view questions and make them available to users:</h3>
						<ol>
							<h4><li>Click the [View Questions] button to open a list of all available questions.</li></h4>
							<h4><li>Click on each question to review it and make sure you would like to use it.  If you would, click the [Add to List] button.</li></h4>
							<h4><li>The button should change to green.  If you would like to deselect the question, click on it again and click the [Remove from List] button.</li></h4>
							<h4><li>Once you have selected all of the questions you would like to use, click on the [Go to Questions] button under the Admin Profile.</li></h4>
							<h4><li>After each question, click the [Next Question] button to move on.</li></h4>
						</ol>
						<h3>To view results by user:</h3>
						<ol>
							<h4><li>Click the [View Users] button to review the results by user</li></h4>
							<h4><li>Choose a user to see their answers to each question</li></h4>
						</ol>
						<h3>To view results by user:</h3>
						<ol>
							<h4><li>Click the [View Results] button to review the breakdown of each question</li></h4>
							<h4><li>Choose a question to see which users answered correctly or incorrectly.</li></h4>
						</ol>
					</div>						
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 user-profile user-view-results-list">
				<div class="box">
					<div class="scroll">
						<h2 class="text-center"><strong>Answered Questions</strong></h2>
						<div class="question-list-results"></div> 
						<!-- Line above not necessary -->
						<!-- When iterating through, do if user.question?  This should only be showing questions that the user has answered ?????? -->
						{{#each user.questions}}
							<button class="btn btn-success btn-block question-tab" data-id="{{this._id}}">{{this.label}}</button>
						{{/each}}
						<!-- <script type="text/x-handlebars-template" id="question-list-template">
							\{{#each questions}}
								<button class="btn btn-success btn-block question-tab" data-id="\{{this._id}}">\{{this.label}}</button>
							\{{/each}}
						</script> -->
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 user-profile user-view-results-list">
				<div class="box">
					<div class="scroll">
						<h2><strong>Directions</strong></h2>
						<h3>Click on a question.  The results for that question will be displayed in this box.  It will include which users have answered correctly, which users have answered each of the incorrect answers, and a display of the breakdown for the question.</h3>
						<div id="question-individual-results"></div>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 user-profile user-answer-questions-list">
				<div class="box">
					<div class="scroll">
						<h2 class="text-center"><strong>All Questions</strong></h2>
						<div class="question-list-results"></div>
						<script type="text/x-handlebars-template" id="question-list-template">
							\{{#each questions}}
								<button class="btn btn-success btn-block click-to-select question-tab" data-id="\{{this._id}}">\{{this.label}}</button>
							\{{/each}}
						</script>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 user-profile user-answer-questions-list">
				<div class="box">
					<div class="scroll">
						<h2><strong>Directions</strong></h2>
						<h3>Click on a question.  The results for that question will be displayed in this box.  It will include which users have answered correctly, which users have answered each of the incorrect answers, and a display of the breakdown for the question.</h3>
						<div id="question-individual-results"></div>
						</div>
				</div>
			</div>
		</div>
		<div class="row user-question">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
				<div class="center-box" id="user-question-box">
					<h2 class="question">Question</h2>
					<hr>  <!-- danger, warning, success, primary -->
					<button class="btn btn-success btn-block answer-a" id="0">Answer A</button>
					<button class="btn btn-success btn-block answer-b" id="1">Answer B</button>
					<button class="btn btn-success btn-block answer-c" id="2">Answer C</button>
					<button class="btn btn-success btn-block answer-d" id="3">Answer D</button>
				</div>
			</div>
		</div>

	</div>

	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- bootstrapjs -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="scripts/userscripts.js"></script>
</body>
</html>