<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="main.css">

	<title>PulseCheck</title>
</head>
<body>
	{{> header}}
	<div class="container-fluid">		
		<div class="row" id="user-profile">
			<div class="col-md-3 col-sm-6 col-xs-12"> <!-- User Profile -->
				<div class="box">
					<div class="scroll">
						<div class="row">
							<div class="  ">
								<img src="{{user.avatar}}" class="img-responsive avatar">
							</div>
						</div>
						<hr>
						<h2 class="text-center">{{user.name}}</h2>
						<h4>username:</h4>
						<h4 class="tab">{{user.username}}</h4>
						<h4>password:</h4>
						<h4 class="tab">{{user.password}}</h4>
						<hr>
						<button class="btn btn-success btn-block" id="goto-question-btn">Answer Questions</button>
						<br>
						<br>
					</div>
				</div> <!-- User Info -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 user-question-list"> <!-- Question List -->
				<div class="box">
					<div class="scroll">
						<h2 class="text-center"><strong>Questions</strong></h2>
						<div id="question-list-results"></div>
						<script type="text/x-handlebars-template" id="question-list-template">
							\{{#each questions}}
								<button class="btn btn-success btn-block question-tab" data-id="\{{this._id}}">\{{this.label}}</button>
							\{{/each}}
						</script>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 user-question-list">
				<div class="box">
					<div class="scroll">
						<h2><strong>Directions</strong></h2>
						<h3>Click on a question.  The results for that question will be displayed in this box.  It will include which users have answered correctly, which users have answered each of the incorrect answers, and a display of the breakdown for the question.</h3>
						<div id="question-individual-results"></div>
	<!-- 						<h3><strong>Question 1</strong></h3>
							<h4>Correct Answer:  foo</h4>
							<h5 class="tab">Users:  user1, user2, user3</h5>
							<h4>Incorrect Answer:  bar</h4>
							<h5 class="tab">Users:  user1, user2, user3</h5>
							<h4>Incorrect Answer:  bar2</h4>
							<h5 class="tab">Users:  user1, user2, user3</h5>
							<h4>Incorrect Answer:  bar3</h4>
							<h5 class="tab">Users:  Did somebody say bar?</h5>
							<h3>Class Breakdown</h3>
							<br>
							<img src="pie-chart-example.png" class="img-responsive" height="50%" width="50%">
 -->					</div>
				</div>
			</div>
		</div>
		<div class="row user-question">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
				<div class="center-box" id="user-question-box">
					<h2>Question</h2>
					<hr>  <!-- danger, warning, success, primary -->
					<button class="btn btn-success btn-block" id="answer-a">Answer A</button>
					<button class="btn btn-success btn-block" id="answer-b">Answer B</button>
					<button class="btn btn-success btn-block" id="answer-c">Answer C</button>
					<button class="btn btn-success btn-block" id="answer-d">Answer D</button>
				</div>
			</div>
		</div>

	</div>

	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- bootstrapjs -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="userscripts.js"></script>
</body>
</html>