<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="main.css">

	<title>PulseCheck</title>
</head>
<body>
	{{> header}}
	<div class="container-fluid">
	<div class="row" id="userinfo">
		<div id="userid">{{user.id}}</div>
		<div id="username">{{user.username}}</div>
	</div>
		<div class="row" id="user-profile">
			<!-- User Profile -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="box">
					<div class="scroll">
						<div class="row">
							<div class="  ">
								<img src="{{user.avatar}}" class="img-responsive avatar">
							</div>
						</div>
						<hr>
						<h2 class="text-center">{{user.name}}</h2>
						<h4>username:</h4>
						<h4 class="tab green">{{user.username}}</h4>
						<h4>password:</h4>
						<h4 class="tab green">********{{user.password}}</h4>
						<h4>click on picture to change</h4>
						<hr>
						<button class="btn btn-success btn-block" id="user-view-results-btn">View Results</button>
						<button class="btn btn-success btn-block" id="user-answer-questions-btn">Answer Questions</button>
						<button class="btn btn-success btn-block" id="user-goto-questions-btn">Go to Questions</button>
						<br>
						<br>
					</div>
				</div>
			</div>
			<!-- [Directions] -->
			<div class="col-md-9 col-sm-6 col-xs-12" id="directions">
				<div class="box">
					<div class="scroll">
						<h2 class="text-center">Welcome to PulseCheck, {{user.name}}!</h2>
						<hr>
						<h2>Directions</h2>
						<h3>To get started:</h3>
						<ol>
							<h4><li>Customize your picture by clicking on it.</li></h4>
							<h4><li>Answer questions.</li></h4>
							<h4><li>View your results.</li></h4>
						</ol>
						<h3>To answer questions:</h3>
						<ol>
							<h4><li>Click the <span class="green">[Answer Questions]</span> button to check for new questions.</li></h4>
							<h4><li>Read the question and click the button for the correct answer.</li></h4>
							<h4><li>Keep answering questions until you reach the end.</li></h4>
							<h4><li>Return to your profile to view results.</li></h4>
						</ol>
						<h3>To view results:</h3>
						<ol>
							<h4><li>Click the <span class="green">[View Results]</span> button to open a list of all answered questions.</li></h4>
							<h4><li>Click on each question to review it.</li></h4>
							<h4><li>The results show:</li></h4>
								<ul>
									<h4><li>the question</li></h4>
									<h4><li>answer choices</li></h4>
									<h4><li>your answer</li></h4>
									<h4><li>a visual breakdown of how other users answered the question</li></h4>
								</ul>
							</li>
						</ol>
					</div>						
				</div>
			</div>
			<!-- [View Results] Pane -->
			<div class="col-md-3 col-sm-6 col-xs-12 user-view-results-list">
				<div class="box">
					<div class="scroll">
						<div id="answered-questions">
							<h2 class="text-center"><strong>Answered Questions</strong></h2>
							{{#each user.questions}}
								<button class="btn btn-success btn-block click-to-select question-tab" data-id="{{_id}}">{{label}}</button>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
			<!-- Individual Results from [View Results] with Pie Charts -->
			<div class="col-md-6 col-sm-12 col-xs-12 user-view-results-list">
				<div class="box">
					<div class="scroll">
						<div id="question-individual-results">
							<h2><strong>Directions</strong></h2>
							<h3>Click on a question.  The results for that question will be displayed in this box.  It will show the question, answer choices, and a display of the breakdown for the question.</h3>
						</div>
						<script type="text/x-handlebars-template" id="results-template">
							<h2><strong>\{{label}}</strong></h2>
							<hr>
							<h4><strong>Question:</strong>  \{{question}}</h4>
							<h4><strong>Answer Choices:</strong></h4>
							<ul>
							\{{#each answers}}
								<h4><li>\{{this}}</li></h4>
							\{{/each}}
							</ul>
							<h4><strong>Correct Answer:</strong>  \{{correctanswer}}</h4>
							<h4><strong>Your Answer:</strong>  \{{useranswer}}</h4>
							<h3><strong>\{{message}}</strong></h3>
							<hr>
							<h2><strong>Answers Breakdown:</strong></h2>
							<br>
							<canvas id="breakdown-pie-chart" width="400" height="400"></canvas>
						</script>
					</div>
				</div>
			</div>
		</div>
		<!-- Actual PulseCheck App Question View -->
		<div class="row" id="user-question">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
				<div class="center-box" id="user-question-box">
					<h2 class="question">Question</h2>
					<hr>
					<button class="btn btn-success btn-block answer-a" id="0">Answer A</button>
					<button class="btn btn-success btn-block answer-b" id="1">Answer B</button>
					<button class="btn btn-success btn-block answer-c" id="2">Answer C</button>
					<button class="btn btn-success btn-block answer-d" id="3">Answer D</button>
				</div>
			</div>
		</div>
		<!-- Actual PulseCheck App Response View -->
		<div class="row" id="user-response">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
				<div class="center-box-2" id="user-response-box">
					<h1 class="question-response">Response</h1>
					<hr>
					<button class="btn btn-success btn-block" id="next-question">Next</button>
				</div>
			</div>
		</div>
	</div>

	<!-- chartjs -->
	<script type="text/javascript" src="scripts/Chart.js"></script>

	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- bootstrapjs -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="scripts/userscripts.js"></script>
</body>
</html>